<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>About</h4>
    <div class="site-pagination">
      <a href="">Home</a> /
      <a href="">About</a>
    </div>
  </div>
</div>
<!-- Page info end -->

<!-- Content page -->
<section class="contact-section">
  <div class="container">
    <div class="row pb-80">
      <div class="col-md-7 col-lg-8">
        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
          <h3 class="mtext-111 cl2 p-b-16">
            Our Story
          </h3>

          <p class="stext-113 cl6 p-b-26">
            At Colorado Exotic Shop, we are focused on providing top grade pharmaceutical products and with the highest
            levels of customer
            satisfaction – we will do everything we can to meet your expectations. With a variety of offerings to choose
            from,
            we’re sure you’ll be happy working with us. Look around our website and if you have any comments or
            questions, please
            feel free to contact us. We hope to see you again! Check back later for new updates to our website. There’s
            much
            more to come!With Colorado Exotic Shop the best is yet to Come.
          </p>

          <p class="stext-113 cl6 p-b-26">
            Our Values The three Roche values—Integrity, Courage, and Passion—are core to how we want to behave, as
            individuals and collectively
            as an organization. Passion means we use our drive and commitment to energize, engage and inspire others.
            Courage
            means we are entrepreneurial and thus take risks, reach beyond boundaries and experiment. Integrity means we
            are
            consistently open, honest, ethical and genuine. These values define fundamental attributes for guiding
            decisions
            and actions leading to increased innovation and business performance.
          </p>

          <!-- <p class="stext-113 cl6 p-b-26">
            <b>Any questions? Call us on +1 (720) 235-8829</b>
          </p> -->
        </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4">
        <div>
          <img src="assets/img/bg-3.jpg" alt="IMG">
        </div>
      </div>
    </div>

    <div class="row pt-20">
      <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
        <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
          <h3 class="mtext-111 cl2 p-b-16">
            Our Mission
          </h3>

          <p class="stext-113 cl6 p-b-26">
            Our Purpose Doing now what patients need next We believe it’s urgent to deliver medical solutions right now
            – even as we
            develop innovations for the future. We are passionate about transforming patients’ lives. We are courageous
            in both
            decision and action. And we believe that good business means a better world. That is why we come to work
            each day.
            We commit ourselves to scientific rigor, unassailable ethics, and access to medical innovations for all. We
            do this
            today to build a better tomorrow.
            <br> Delivery time for all shipment within states in the US are both with the maximum of 48 hours and 24
            hours. This
            goes to say shipping duration will based on clients health, how quick or soon you need your medication.
            <br> Out of the US shipping (To Europe )will take a maximum of 72 hours for all packages or package to be
            delivered.
            NB... No signing of papers on delivery since this is a discreet and private method of shipping
            <br> All confirmation of orders or order follows next with a Tracking Number to facilitate clients track on
            orders to
            be more clarify when packages or package will be delivered.
          </p>

          <div class="bor16 p-l-29 p-b-9 m-t-22">
            <p class="stext-114 cl6 p-r-40 p-b-11">
              We are proud of who we are, what we do, and how we do it. We are many, working as one across functions,
              across companies,
              and across the world.
            </p>
          </div>
        </div>
      </div>

      <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
        <div class="how-bor2">
          <div class="hov-img0">
            <img src="assets/img/bg-7.jpg" alt="IMG">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner section -->
<section class="banner-section">
    <div class="container">
        <div class="banner set-bg" data-setbg="assets/img/banner-bg.jpg">
            <div class="tag-new">NEW</div>
            <span>New Arrivals</span>
            <h2>Premium Concentrates</h2>
            <a href="/shop" class="site-btn">SHOP NOW</a>
        </div>
    </div>
</section>