<!-- Footer section -->
<section class="footer-section">
  <div class="container">
    <div class="footer-logo text-center">
      <a href="/"><img src="assets/img/logo-light.png" alt=""></a>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>About</h2>
          <p>At Colorado Exotic Shop, we are focused on providing top grade pharmaceutical products and
            with the highest levels of customer satisfaction</p>
          <!-- <p class="stext-113 cl6 p-b-26">
                        <b>Any questions? Call us on +1 (720) 235-8829</b>
                    </p> -->
          <img src="assets/img/cards-33.png" alt="">
          <img src="assets/img/card-11.png" alt="">
          <img src="assets/img/card-22.png" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Servives</h2>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Categories</h2>
          <ul>
            <li><a href="/category/strain">Strains</a></li>
            <li><a href="/category/concentrate">Concentrates</a></li>
            <li><a href="/category/vape-pen">Vape pens & Cartridges</a></li>
            <li><a href="/category/seed">Seeds</a></li>
            <li><a href="/category/edible">Edibles</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Questions</h2>
          <div class="con-info">
            <span>C.</span>
            <p>Colorado Exotics Shop Cannabis Dispensary</p>
          </div>
          <div class="con-info">
            <span>B.</span>
            <p>1222 Walnut St, Denver, CO 80205</p>
          </div>
          <div class="con-info">
            <a href="tel: +17194700917">
              <span><i class="fa fa-phone"></i></span>
              <p>+1 (719) 470-0917</p>
            </a>
          </div>
          <div class="con-info">
            <span>E.</span>
            <p>info@coloradoexoticshop.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <!-- <div class="social-links">
        <a class="instagram"><i class="fa fa-phone"></i><span>Call Now</span></a>
        <a class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
        <a class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
        <a class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
        <a class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div> -->

      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="text-white text-center mt-5">Copyright &copy; 2022 All rights reserved</p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </div>
  </div>
</section>
<!-- Footer section end -->
