<!-- Page info -->
<div class="page-top-info">
    <div class="container">
      <h4>Products under {{id}}</h4>
      <div class="site-pagination">
        <a href="/">Home</a> /
        <a>Category</a> /
        <a>{{id}}</a>
      </div>
    </div>
  </div>
  <!-- Page info end -->
  
  <section class="contact-section">
    <div class="container">
      <div class="row pb-80">
        <div class="col-md-7 col-lg-8">
          <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
            <!-- <h3 class="mtext-111 cl2 p-b-16">
              Our Story
            </h3> -->
  
            <p class="stext-113 cl6 p-b-26">
              At Colorado Exotic Shop, we are focused on providing top grade pharmaceutical products and with the highest
              levels of customer
              satisfaction – we will do everything we can to meet your expectations. With a variety of offerings to choose
              from,
              we’re sure you’ll be happy working with us. Look around our website and if you have any comments or
              questions, please
              feel free to contact us. We hope to see you again! Check back later for new updates to our website. There’s
              much
              more to come!With Colorado Exotic Shop the best is yet to Come.
            </p>
  
            <p class="stext-113 cl6 p-b-26">
              Our Values The three Roche values—Integrity, Courage, and Passion—are core to how we want to behave, as
              individuals and collectively
              as an organization. Passion means we use our drive and commitment to energize, engage and inspire others.
              Courage
              means we are entrepreneurial and thus take risks, reach beyond boundaries and experiment. Integrity means we
              are
              consistently open, honest, ethical and genuine. These values define fundamental attributes for guiding
              decisions
              and actions leading to increased innovation and business performance.
            </p>
  
            <!-- <p class="stext-113 cl6 p-b-26">
              <b>Any questions? Call us on +1 (720) 235-8829</b>
            </p> -->
          </div>
        </div>
  
        <div class="col-11 col-md-5 col-lg-4">
          <div>
            <img src="assets/img/bg-3.jpg" alt="IMG">
          </div>
        </div>
      </div>
  
    </div>
  </section>
  
  <!-- Category section -->
  <section class="category-section spad">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let product of products">
              <div class="product-item">
                <div class="pi-pic">
                  <a href="/product/{{product._id}}"><img src={{product.photo}} alt={{product.name}}></a>
                  <div class="pi-links">
                    <a href="/product/{{product._id}}" class="add-card"><i class="flaticon-bag"></i><span>View Options</span></a>
                  </div>
                </div>
                <div class="pi-text">
                  <h6>${{product.prices[0].amount-20}} <br><del style="color: #f51167;">${{product.prices[0].amount}}</del></h6>
                  <p>{{product.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Category section end -->