<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Testimonials</h4>
    <div class="site-pagination">
      <a href="../">Home</a> /
      <a>Testimonials</a>
    </div>
  </div>
</div>
<!-- Page info end -->
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Graig George</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <h4 class="p-stock"><span>01/25/2022</span></h4>
        <p>I got my package on time All thanks to your awesome services. I recommended your services to some of my
          friends of mine and they called me to inform me that they got theirs too and everything was genuine and their
          products got in without distraction.</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Nino White</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>01/23/2022</span></h4>
        <p>My first time purchase from Colorado Exotics was just CBDs but tasted marijuana from time to time and i felt
          relaxed the experienced is indescribable. I feel like the got the best quality marijuana strains out there.
        </p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Alain Woke</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>01/21/2022</span></h4>
        <p>Now I can confidently tell my friends and colleagues that Corolado Shop product's are of excellent quality to
          buy  without any shadow of doubt, I vouch for bestcorolado because i know what it is having to buy marijuana
          online and having it reach you in time with no surprises.</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">John blake</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>06/21/2021</span></h4>
        <p>I now believe the reason couple of people have been complaining it was due to  them either having thier own
          things going on or thier order got caught in that massive delay . Purchasing from bestcorolado wasn't a bad
          idea my order was right on time.</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Adam Smith</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <h4 class="p-stock"><span>06/20/2021</span></h4>
        <p>When i was smoking a joint, the first thing that came to mind was i have never tasted marijuana. that tasted
          soo good not to mention, it was one of the best body buzz I've felt. I will definitely be purchase this kind
          anytime soon again</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Pharel Lil</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>06/18/2021</span></h4>
        <p>Don't know if fake has become real, based on what some says, but i got my shit i ordered. May be COVID-19
          made some changes 😎</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Edwin</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>06/10/2021</span></h4>
        <p>Due to some popular believe about coloradoexoticshop.com, i dicided to be curious and gave it a try with a
          small pruchase. I don't know if i got to say i was lucky or not, but i got my package delivered, though with
          some delayed.</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Eliot</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>03/10/2020</span></h4>
        <p>Great Staff, very knowledgeable on Oil, edibles & Flower great for Blunts. 😎👌 Reasonably Priced & Great
          Atmosphere! Only shop online I’d recommend in Airway Heights!</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Travis</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>03/05/2020</span></h4>
        <p>My wife sought out this place after seeing it online. When we ordered there it was even better than
          we
          expected.
          We both felt comfortable as she decided what mix she wanted</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Martins</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <h4 class="p-stock"><span>02/27/2020</span></h4>
        <p>Have never been dissapointed with any of the purchase their amazing service and product. We recommend it to
          anybody from out of country or if they're looking to try something new</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Roberto McCourt</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <h4 class="p-stock"><span>02/05/2020</span></h4>
        <p>Hello this is Roberto McCourt from UK i had eyes looked like beets stabing pain black an pruple year and half
          brain fely like bouncing around with very light steps noise and even speaking hurt very MUCH had no option but
          to chose the natural route which i came finally across Giving Tree this was so surprising they deliver to me
          this good medication right at my door steps Thanks once more words can't express</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Brandon</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>02/01/2020</span></h4>
        <p>Hey I'm Brandon from California San Francisco I have always felt to keep myself so high So got these guys
          Colorado Exotics who provided my stuff at my door discreetly without any danger. Thanks guys its been a great
          pleasure doing business with you</p>
      </div>
      <div class="col-lg-6 product-details text-center">
        <h2 class="p-title">Eliot</h2>
        <div class="p-rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <h4 class="p-stock"><span>01/27/2020</span></h4>
        <p>Medical cannabis has helped me alot thanks to the Colorado Exotics. I couldn't walk without medicating. It
          makes me to digest very well and akes me relief. Can't say much but I'm a client today and promise to always
          remain a faithful client. David Charles from Dallas Texas</p>
      </div>
    </div>
  </div>
</section>

<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title">
      <h2>PRODUCTS YOU MAY LIKE</h2>
    </div>
    <div class="product-slider owl-carousel">
      <div class="product-item" *ngFor="let product of products">
        <div class="pi-pic">
          <img src={{product.photo}} alt={{product.name}}>
          <div class="pi-links">
            <a href="../../../../product/{{product.id}}" class="add-card"><i class="flaticon-bag"></i><span>View
                Options</span></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>${{product.prices[0].amount}}</h6>
          <p>{{product.name}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- RELATED PRODUCTS section end -->
